*, *::after, *::before {
    
    box-sizing: border-box;
    
    }
body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 150px;
    max-width: 800px;

}

section {
    padding: 100px 0;
    
}
    
p {
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 1.2em;
}

h1 h2 {
    font-family: 'PT Sans Caption', sans-serif;
}

h1 {

    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
    font-weight: 100;
    font-style: italic;
}